# -----------------------------
# OS X detritus

.DS_Store

# -----------------------------
# Sublime detritus

*.sublime-project
*.sublime-workspace

# -----------------------------
# UmlGraph lib

sequence.pic
UmlGraph.jar

# -----------------------------
# Output files

IcgRoot.java
IcgRoot.png
IcgSequence.ps
