# -----------------------------
# OS X detritus

.DS_Store

# -----------------------------
# Sublime detritus

*.sublime-project
*.sublime-workspace

# -----------------------------
# UmlGraph lib

sequence.pic
UmlGraph.jar

# -----------------------------
# Output files

*.java
*.png
*.ps